@{
    ViewBag.Title = "Home Page";
}

<div class="section1 body-content">
    <div class="container">
        <h1 class="yellow-text accent-3 center">Kollen Store</h1>
        <div class="row">
            <div class="col s12 center light-blue-text accent-2 text-content">
                Click any text to edit or style it. Select text to insert a link. Click blue "Gear" icon in the top right corner to hide/show buttons, 
                text, title and change the block background. 
                Click red "+" in the bottom right corner to add a new block. Use the top left menu to create new pages, sites and add themes
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row center-block">
        <div class="col s12 l8 offset-l2 m8 offset-m2">
            <blockquote class="text-content">
                We are a responible company and we make sure all our designs are to your satisfication
            </blockquote>
        </div>
    </div>
</div>

<div class="section3">
    <div class="container center">
        <h1 class="yellow-text accent-3">Kollen Store</h1>
        <div class="mt3 text-content accent-2 white-text">We deal in beautifully designed clothes and so many more!</div>
        <button class="btn waves-effect red btn-large waves-light">Order Now!</button>
    </div>
    <div class="row mt2 text-uppercase">
        <div class="col s6 l3 m3 center">
            <a href="#">
                <i class="fas fa-3x fa-shopping-bag white-text"></i>
                <h5 class="white-text">Bag</h5>
            </a>
        </div>
        <div class="col s6 l3 m3 center">
            <a href="#">
                <i class="fas fa-3x fa-shopping-bag white-text"></i>
                <h5 class="white-text">Quality Clothes</h5>
            </a>
        </div>
        <div class="col s6 l3 m3 center">
            <a href="#">
                <i class="fas fa-3x fa-shopping-bag white-text"></i>
                <h5 class="white-text">Affordable Prices</h5>
            </a>
        </div>
        <div class="col s6 l3 m3 center">
            <a href="#">
                <i class="fas fa-3x fa-shopping-bag white-text"></i>
                <h5 class="white-text">Delivery to any part</h5>
            </a>
        </div>
    </div>
</div>

<div class="section4">
    <div class="container">
        <h1 class="center light-blue-text">Checkout our Designs!</h1>
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="~/Images/20.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="~/Images/21.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="~/Images/22.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="~/Images/23.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="~/Images/24.jpg"></a>
        </div>
    </div>
</div>


@*<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>*@